{% extends 'index.html' %}
{% block title %} New Fees Entry {% endblock %}
{% block css %} {% endblock %}

{% block body %}
<div class="main">
    <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form action="/feesnewserach/" method="post" novalidate>{% csrf_token %}
                        <fieldset>
                            <legend class="text-xs-center header">New Fees Entry</legend>
                            <div class="form-group">  
                            <span style='margin-right: 5.00em' class = "label label-default">Select Search Option: </span>
                            {{ form.select }}
                        </div>
                        <fieldset class="form-group" id="fname" style="display: none">
                            {{ form.fname }}
                        </fieldset> 
                        <fieldset class="form-group" id="lname" style="display: none">
                            {{ form.lname }}
                        </fieldset>
                        <fieldset class="form-group" id="alias" style="display: none">
                            {{ form.alias }}
                        </fieldset>  
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>    
                    </form>        
                    <form action="/feesnew/" method="post" novalidate>{% csrf_token %}
                         {{ form1.E_id}}
                            <div class="form-group">
                            <span style='margin-right: 1.25.00em' class = "label label-default">Date: </span>
                            {{ form1.add_date }}
                            <label id="add_id" style='margin-right: 2.25em' class="form-check-label">AdmissionID:
                            {{ form1.add_id }}
                            <label id="enqalias" style='margin-left: 10.25em' class="form-check-label">EnquiryAlias :</label>
                            {{ form1.add_alias }}
                        </div><br>
                        <div class="form-group">
                            {{ form1.fname }}
                        </div>
                        <div class="form-group">
                           {{ form1.lname }}
                        </div>
                        <div class="form-group">
                            {{ form1.email }}
                        </div>
                        <div class="form-group">
                            {{ form1.phone }}
                        </div>
                        <div class="form-group">
                            {{ form1.Address }}
                        </div>
                        <div class="form-group">
                                <span style='margin-right: 6.25em' class = "label label-default">Admission Taken For: </span>
                                    {% for checkbox in form1.courses %}
                                {{ checkbox.tag }}
                                <label style='margin-right: 2.25em' >{{ checkbox.choice_label }}</label>
                            {% endfor %}
                            </div>

                            <div class="form-group">
                                <span style='margin-right: 14.00em' class = "label label-default">Fees: </span>
                                {{ form1.tot_fees }}
                            </div>

                            <div class="form-group">
                              <br>  
                              <span style='margin-right: 9.00em' class = "label label-default">Fees Structure: </span>
                                    {% for radio in form1.pay_fees %}
                                {{ radio.tag }} 
                                <label style='margin-right: 2.25em'>{{ radio.choice_label }}</label>
                            {% endfor %}
                            </div>

                          
                            <table class="table formTable" style="display: none;" id="one">
                                <thead>
                                  <tr>
                                    <th scope="col" class="col2">#</th>
                                    <th scope="col" class="col2">Date</th>
                                    <th scope="col" class="col2">Amount</th>
                                    <th scope="col" class="col2">Paid/NotPaid</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td class="col3" scope="col">{{ form1.one_install_date }}</td>
                                    <td class="col3">{{ form1.one_install_fees }}</td>
                                    <td class="col3">{{ form1.status }}</td>
                                  </tr>
                                </tbody>
                              </table>
                          

                              <table class="table formTable" style="display: none;" id="two">
                                  <thead>
                                    <tr>
                                      <th scope="col" class="col2">#</th>
                                      <th scope="col" class="col2">Date</th>
                                      <th scope="col" class="col2">Amount</th>
                                      <th scope="col" class="col2">Paid/NotPaid</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">1</th>
                                    <td class="col3" scope="col">{{ form1.two_install_date1 }}</td>
                                    <td class="col3">{{ form1.two_install_fees1 }}</td>
                                    <td class="col3">{{ form1.status1 }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td class="col3" scope="col">{{ form1.two_install_date2 }}</td>
                                    <td class="col3">{{ form1.two_install_fees2 }}</td>
                                    <td class="col3">{{ form1.status2 }}</td>
                                      </tr>
                                  </tbody>
                                </table>

                                <table class="table formTable" style="display: none;" id="three">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="col2">#</th>
                                        <th scope="col" class="col2">Date</th>
                                        <th scope="col" class="col2">Amount</th>
                                        <th scope="col" class="col2">Paid/NotPaid</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                    <th scope="row">1</th>
                                    <td class="col3" scope="col">{{ form1.three_install_date1 }}</td>
                                    <td class="col3">{{ form1.three_install_fees1 }}</td>
                                    <td class="col3">{{ form1.status1 }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td class="col3" scope="col">{{ form1.three_install_date2 }}</td>
                                    <td class="col3">{{ form1.three_install_fees2 }}</td>
                                    <td class="col3">{{ form1.status2 }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td class="col3" scope="col">{{ form1.three_install_date3 }}</td>
                                    <td class="col3">{{ form1.three_install_fees3 }}</td>
                                    <td class="col3">{{ form1.status3 }}</td>
                                </tr>
                                    </tbody>
                                  </table>
    
                              <div class="form-group">
                                   {{ form1.comments }}
                              </div>
  
                            <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
{% block js%}
<script>

        
function ShowHideDiv() {
        var select_fname = document.getElementById("id_select_0");
        var select_lname = document.getElementById("id_select_1");
        var select_alias = document.getElementById("id_select_2");
        var oneinstall = document.getElementById("id_pay_fees_0");
        var twoinstall = document.getElementById("id_pay_fees_1");
        var threeinstall = document.getElementById("id_pay_fees_2");
 
        var fname = document.getElementById("fname");
        var lname = document.getElementById("lname");
        var alias = document.getElementById("alias");
        var showone = document.getElementById("one");
        var showtwo = document.getElementById("two");
        var showthree = document.getElementById("three");
        
        fname.style.display = select_fname.checked ? "block" : "none";
        lname.style.display = select_lname.checked ? "block" : "none";
        alias.style.display = select_alias.checked ? "block" : "none";
        showone.style.display = oneinstall.checked ? "block" : "none";
        showtwo.style.display = twoinstall.checked ? "block" : "none";
        showthree.style.display = threeinstall.checked ? "block" : "none";
    
    }
       
 
{% if thank %}
alert('Thanks for Registration. We will get back to you soon!');
document.location = "/feesnew/";
{% endif %}

</script>
 
{% endblock %} 