{% extends 'index.html' %}
{% block title %} Enquiry Report {% endblock %}
{% block css %}{% endblock %}

{% block body %}
<div class="main">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="/reportenq/" method="post">{% csrf_token %}
                    <fieldset>
                        <legend class="text-xs-center header">Enquiry Report</legend>
                        <div class="form-group">
                            <span style='margin-right: 3.90em' class = "label label-default">Select Report Type: </span>
                            {% for radio in form.like %}
                                {{ radio.tag }} 
                                <label style='margin-right: 3.25em'>{{ radio.choice_label }}</label>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <span style='margin-right: 5em' class = "label label-default">Select Month: </span>
                            {{ form.select }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Search</button>
                        </div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Enquiry-ID</th>
                                    <th scope="col">Enquiry-Name</th>
                                    <th scope="col">Enquiry-Alias</th>
                                    <th scope="col">Phone-No</th>
                                    <th scope="col">EMail-Address</th>
                                    <th scope="col">Course</th>
                                    <th scope="col">Preferred-Timing</th>
                                    <th scope="col">Enquiry-Source</th>
                                </tr>
                            </thead>
                            {% for b1 in a1 %}
                                {% for ans in b1 %}
                                <tbody>
                                    <tr>
                                        <td>{{ans.enqid}}</td>
                                        <td>{{ans.fname}} {{ans.lname}}</td>
                                        <td>{{ans.enqalias}}</td>
                                        <td>{{ans.phone}}</td>
                                        <td>{{ans.email}}</td>
                                        <td>{{ans.courses}}</td>
                                        <td>{{ans.Preferred_day}}</td>
                                        <td>{{ans.enquiry}}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            {% endfor %}    
                        </table>  
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
    
    
{% endblock %}
{% block js%}
 
{% endblock %} 