{% extends 'index.html' %}
{% block title %} Contact Report {% endblock %} 
{% block css %} {% endblock %}

{% block body %}
<div class="main">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="/reportcontact/" method="post" novalidate>{% csrf_token %}
                    <fieldset>
                        <legend class="text-xs-center header">Contact Report</legend>
                        <div class="form-group">  
                            <span style='margin-right: 5.00em' class = "label label-default">Select Search Option: </span>
                            {{ form.select }}
                        </div>
                        <fieldset class="form-group" id="fname" style="display: none">
                            {{ form.fname }}
                        </fieldset> 
                        <fieldset class="form-group" id="lname" style="display: none">
                            {{ form.lname }}
                        </fieldset>
                        <fieldset class="form-group" id="alias" style="display: none">
                            {{ form.alias }}
                        </fieldset>                  
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Search</button>
                        </div>
                        <table class="table table-sm">
                          <thead>
                            <tr>
                              <th scope="col">Full Name</th>
                              <th scope="col">Enquiry Alias</th>
                              <th scope="col">Admission ID</th>
                              <th scope="col">Phone No</th>
                              <th scope="col">Email-ID</th>
                              <th scope="col">Course Name</th>
                              <th scope="col">Batch Time</th>
                              <th scope="col">Batch Days</th>
                              <th scope="col">Batch Alias</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in ans %}
                              <tr>
                                <th scope="row">{{ i.fname }} {{ i.lname }}</th>
                                <td>{{ i.enqalias }}</td>
                                <td>{% for x in ans1 %}{{ x.add_id }}</td>
                                <td>{{ i.phone }}</td>
                                <td>{{ i.email }}</td>
                                <td>{{ i.courses }}</td>
                                <td><table>{% for y in ans2 %}{% for z in y.Addmission.all %}{% if x == z %}<tr><td>{{ y.batch_time }}</td></tr>{% endif %}{% endfor %}{% endfor %}</table></td>
                                <td><table>{% for y in ans2 %}{% for z in y.Addmission.all %}{% if x == z %}<tr><td>{{ y.batch_day }}</td></tr>{% endif %}{% endfor %}{% endfor %}</table></td>
                                <td><table>{% for y in ans2 %}{% for z in y.Addmission.all %}{% if x == z %}<tr><td>{{ y.batchalias }}</td></tr>{% endif %}{% endfor %}{% endfor %}</table></td>
                              </tr>        
                            {% endfor %}
                          {% endfor %}  
                          </tbody>
                        </table>      
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>    
    
{% endblock %}
{% block js%}
<script>
function ShowHideDiv() {
        var select_fname = document.getElementById("id_select_0");
        var select_lname = document.getElementById("id_select_1");
        var select_alias = document.getElementById("id_select_2");

        var fname = document.getElementById("fname");
        var lname = document.getElementById("lname");
        var alias = document.getElementById("alias");

        fname.style.display = select_fname.checked ? "block" : "none";
        lname.style.display = select_lname.checked ? "block" : "none";
        alias.style.display = select_alias.checked ? "block" : "none";
    
    }
{% if thank %}
alert('Thanks for Registration. We will get back to you soon!');
document.location = "/reportcontact/";
{% endif %}

</script>
 
{% endblock %} 