{% extends 'index.html' %}
{% block title %} Search Enquiry {% endblock %}
{% block css %} {% endblock %}

{% block body %}
<div class="main">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="/searchenq/" method="post">{% csrf_token %}
                    <fieldset>
                        <legend class="text-xs-center header">Search Enquiry</legend>
                        <input list="browsers" name="browsers" class = "form-control col-md-08 serach">
                        <datalist id="browsers">
                            {% for post in posts %} 
                                <option value="{{ post.enqalias }}">
                            {% endfor %} 
                        </datalist>
                        <br><br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                        <div>
                        {% for i in posts %}
                        Date : {{i.edate}}<br><br>
                        Enquiry ID : {{i.enqid}}<br><br>
                        Enquiry Alias : {{i.enqalias}}<br><br>
                        First Name : {{i.fname}}<br><br>
                        Last Name : {{i.lname}}<br><br>
                        Email ID : {{i.email}}<br><br>
                        Phone Number : {{i.phone}}<br><br>
                        Address : {{i.Address}}<br><br>
                        Courses : {{i.courses}}<br><br>
                        Enquiry : {{i.enquiry}}<br><br>
                        {% if i.enquiry == 'reference' %}
                            Reference Name : {{i.reference_name}}<br><br>  
                        {% endif %} 
                        status : {{i.status}}<br><br>
                        {% if i.status == 'student' %}  
                            Collage Name : {{i.collagename}}<br><br>
                            Stream : {{i.stream}}<br><br>
                            Year : {{i.year}}<br><br>
                        {% else %}
                            Company : {{i.company}}<br><br>
                            Designation : {{i.designation}}<br><br>
                            Year Experiance : {{i.year_exper}}<br><br>
                        {% endif %}    
                        Preferred Day : {{i.Preferred_day}}<br><br>
                        {% if i.Preferred_day == 'weekdays' %} 
                            Weekday Date : {{i.weekday_date}}<br><br>
                            Weekdays Time : {{i.weekdays_time}}<br><br>
                        {% else %}    
                            Weekend Date : {{i.weekend_date}}<br><br>
                            Weekend Time : {{i.weekend_time}}<br><br>
                        {% endif %}     
                        Comments : {{i.comments}}<br><br>
                        {% endfor %}
                    </div>    
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
{% block js%}   
<script>

    function ShowHideDiv() {
        var stud = document.getElementById("student");
        var emp = document.getElementById("employee");

        var studtrue = document.getElementById("studentdetails");
        var emptrue = document.getElementById("employeedetails");

        studtrue.style.display = stud.checked ? "block" : "none";
        emptrue.style.display = emp.checked ? "block" : "none";
    
    }

{% if thank %}
alert('Thanks for Registration. We will get back to you soon!');
document.location = "/searchenq/";
{% endif %}

</script>
 
{% endblock %} 