{% extends 'index.html' %}
{% block title %} Search Addmission {% endblock %}
{% block css %} {% endblock %}

{% block body %}
<div class="main">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="/searchaddmission/" method="post">{% csrf_token %}
                    <fieldset>
                        <legend class="text-xs-center header">Search Admission</legend>
                        <input list="browsers" name="browsers" class = "form-control col-md-08 serach">
                        <datalist id="browsers">
                        {% for post in posts %} 
                            <option value="{{ post.add_alias }}">
                        {% endfor %} 
                        </datalist>
                        <br><br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                        <div>
                        {% for i in posts %}
                        Date : {{i.add_date}}<br><br>
                        Enquiry ID : {{i.add_id}}<br><br>
                        Enquiry Alias : {{i.add_alias}}<br><br>
                        First Name : {{i.fname}}<br><br>
                        Last Name : {{i.lname}}<br><br>
                        Email ID : {{i.email}}<br><br>
                        Phone Number : {{i.phone}}<br><br>
                        Address : {{i.Address}}<br><br>
                        Courses : {{i.courses}}<br><br>
                        Tot_Fees : {{i.tot_fees}}<br><br>
                        Pay Fees : {{i.pay_fees}}<br><br>
                        {% if i.pay_fees == 'one_install' %}
                            Install Date : {{i.one_install_date}}<br><br>
                            Install Fees : {{i.one_install_fees}}<br><br>
                            Status : {{i.status}}<br><br>
                        {% elif i.pay_fees == 'two_install' %}
                            First Install Date : {{i.two_install_date1}}<br><br>
                            First Install Fees : {{i.two_install_fees1}}<br><br>
                            First Install Status : {{i.status1}}<br><br>
                            Second Install Date : {{i.two_install_date2}}<br><br>
                            Second Install Fees : {{i.two_install_fees2}}<br><br>
                            Second Install Status : {{i.status2}}<br><br>
                        {% elif i.pay_fees == 'three_install' %}    
                            First Install Date : {{i.three_install_date1}}<br><br>
                            First Install Fees : {{i.three_install_fees1}}<br><br>
                            First Install Status : {{i.status1}}<br><br>
                            Second Install Date : {{i.three_install_date2}}<br><br>
                            Second Install Fees : {{i.three_install_fees2}}<br><br>
                            Second Install Status : {{i.status2}}<br><br>
                            Third Install Date : {{i.three_install_date3}}<br><br>
                            Third Install Fees : {{i.three_install_fees3}}<br><br>
                            Third InstallStatus : {{i.status3}}<br><br>
                        {% endif %}
                        Comments : {{i.comments}}<br><br>
                        {% endfor %}
                    </div>    
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>  
{% endblock %}
{% block js%}
<script>

        function ShowHideDiv() {
        var oneinstall = document.getElementById("one-install");
        var twoinstall = document.getElementById("two-install");
        var threeinstall = document.getElementById("three-install");

        var showone = document.getElementById("one");
        var showtwo = document.getElementById("two");
        var showthree = document.getElementById("three");

        showone.style.display = oneinstall.checked ? "block" : "none";
        showtwo.style.display = twoinstall.checked ? "block" : "none";
        showthree.style.display = threeinstall.checked ? "block" : "none";
    
    }
        
{% if thank %}
alert('Thanks for Registration. We will get back to you soon!');
document.location = "/searchaddmission/";
{% endif %}

</script>
 
{% endblock %} 