{% extends 'index.html' %}
{% block title %} Search Batch {% endblock %}
{% block css %} {% endblock %}

{% block body %}
<div class="main">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="/searchbatch/" method="post">{% csrf_token %}
                    <fieldset>
                        <legend class="text-xs-center header">Search Batch</legend>
                        <input list="browsers" name="browsers" class = "form-control col-md-08 serach">
                        <datalist id="browsers">
                        {% for post in posts %} 
                            <option value="{{ post.batchalias }}">
                        {% endfor %} 
                        </datalist>
                        <br><br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                        <div>
                        {% for i in posts %}
                        Date : {{i.edate}}<br><br>
                        Enquiry ID : {{i.batchid}}<br><br>
                        Enquiry Alias : {{i.batchalias}}<br><br>
                        Trainer Name : {{i.trainer}}<br><br>
                        Courses Name : {{i.courses}}<br><br>
                        Batch Time : {{i.batch_time}}<br><br>
                        Batch Days : {{i.batch_days}}<br><br>
                            {% if i.batch_days == 'other' %}
                            Special Day : {{i.special_day}}<br><br>
                            Student Name : {{i.sname}}<br><br>
                            {% else %}
                            Student Name : {{i.sname}}<br><br>
                            {% endif %}
                        {% endfor %}
                        </div>    
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>        

    
    
{% endblock %}
{% block js%}
<script>
        
{% if thank %}
alert('Thanks for Registration. We will get back to you soon!');
document.location = "/searchbatch/";
{% endif %}

</script>
 
{% endblock %} 